<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image: url(<%= post.image %>);">
      <div class="more">
        <span><%= image_tag 'three_point_leader.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_post_path(post.id) %>
          </li>
          <li>
            <%= link_to '削除', "/posts/#{post.id}", data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
      <%= link_to post_path(post.id) do %>
        <p><%= post.image %></p>
      <% end %>
      <span class="name">
        <%= post.text %>
      </span>
    </div>
  <% end %>
</div>