<!DOCTYPE html>
<html>
  <head>
    <title>Spotune</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">SpoTune</a></h1>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright SpoTune 2024.
      </p>
    </footer>
  </body>
</html>
